<!DOCTYPE html>
<html>
<head>
<style>
.grid-container {
  display: grid;
  grid-template-columns: auto;
  
  padding: 10px;
}
.grid-item {
  
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
h3{
    margin-top : 5%
}
</style>
</head>
<body>

<div class="grid-container">
  <a href="https://npb-ledger.cyclic.app"><div class="grid-item"><img src="npb.png" alt=""><h3>Ledger ></h3></div></a>
  <a href="https://npb.cyclic.app"><div class="grid-item"><img src="npb.png" alt=""><h3>Credit Management ></h3></div></a>
</div>

</body>
</html>